## {{ ansible_managed }}

view "external" {
    match-clients { key external-key; !key internal-key; any; };
    allow-update { key external-key; !key internal-key; };
    allow-transfer { key external-key; !key internal-key; };
    allow-query { key external-key; !key internal-key; any; };
    recursion no;
    ## Master
{% for addr in bind_config_external_servers %}
    server {{ addr }} {
       transfer-format many-answers;
       keys { "external-key"; };
    };
{% endfor %}
{% for master_zone in bind_config_external_master_zones %}
    zone "{{ master_zone.name }}" {
        type master;
        file "{{bind_base_zones_path}}/{{bind_masterzones_path}}/external/db.{{ master_zone.name }}";
{% if master_zone.allow_transfer is defined %}
        allow-transfer {
{% for allow_transfer in master_zone.allow_transfer %}
        {{ allow_transfer }};
{% endfor %}
        };
{% endif %}
{% if master_zone.allow_update is defined %}
        allow-update {
{% for allow_update in master_zone.allow_update %}
        {{ allow_update }};
{% endfor %}
        };
{% endif %}
{% if master_zone.also_notify is defined %}
        also-notify {
{% for also_notify in master_zone.also_notify %}
        {{ also_notify }};
{% endfor %}
        };
{% endif %}
{% if master_zone.dnssec is defined and master_zone.dnssec %}
	# look for dnssec keys here:
	key-directory "/etc/bind/keys";

	# publish and activate dnssec keys:
	auto-dnssec maintain;

	# use inline signing:
	inline-signing yes;
{% endif %}
    };

{% endfor %}
    ## Slaves 

{% for slave_zone in bind_config_external_slave_zones %}
    zone "{{ slave_zone.name }}" {
        type slave;
        masterfile-format text;
        file "{{bind_base_zones_path}}/{{bind_slavezones_path}}/external/db.{{ slave_zone.name }}";
{% if slave_zone.allow_transfer is defined %}
        allow-transfer {
{% for allow_transfer in slave_zone.allow_transfer %}
        {{ allow_transfer }};
{% endfor %}
        };
{% endif %}
{% if slave_zone.allow_update is defined %}
        allow-update {
{% for allow_update in slave_zone.allow_update %}
        {{ allow_update }};
{% endfor %}
        };
{% endif %}
        masters {
{% for master in bind_config_external_slave_master %}
        {{ master }};
{% endfor %}
        };
    };

{% endfor %}

{% for forward_zone in bind_config_external_forward_zones %}
    ######## FORWARD: {{ forward_zone.name }} 
    zone "{{ forward_zone.name }}" {
        type forward;
        forward only;
        forwarders {
{% for forwarder in forward_zone.forwarders %}
          {{ forwarder }};
{% endfor %}
        };
    };
{% endfor %}
};
